

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate(-70px, -50px);
    transform: translate(-70px, -50px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate(70px, 50px);
    transform: translate(70px, 50px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}



